{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    ["transform-react-jsx", { "pragma":"h" }],
  ]
}
